body {
	margin: 0;
	font-family: 'Inter', -apple-system, Helvetica, 'Segoe UI', '微软雅黑', 'Microsoft YaHei UI', sans-serif;
	scroll-behavior: smooth;
}

[page] {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1200px;
	display: block;
	margin: auto;
	@media screen and (max-width: 1200px) {
		padding: 16px;
	}
}

.view-out {
	opacity: 0 !important;
}

*::selection {
	background: rgba(@primary, 0.2);
}

.hoverscale {
	@media screen and (min-width: 1000px) {
		&:hover {
			transform: scale(1.2) !important;
		}
	}
}

figure {
	text-align: center;

	figcaption {
		color: @textlightgray;
		margin: 16px 0;
		span {
			font-weight: bold;
			color: black;
			margin-right: 1em;
		}
	}
}

.typo-img {
	box-shadow: @shadowlight;
	border-radius: 5px;
}

.typo {
	color: @textmidgray;
	line-height: 1.8;
	position: relative;

	& + figure {
		position: relative;
	}

	& + figure img,
	& + img {
		width: 100%;
		display: block;
		margin: auto;
		.typo-img;
	}

	&.light {
		strong {
			color: white;
		}
		a:hover {
			color: white;
		}
		color: @textmidwhite;
	}
	strong {
		color: black;
	}

	a {
		position: relative;
		text-decoration: none;
		color: inherit;
		transition: all 0.2s ease;
		&::after {
			background: @primary;
			width: 100%;
			content: ' ';
			display: block;
			position: absolute;
			bottom: 0.5px;
			z-index: -1;
			height: 5px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0.4;
			transition: all 0.2s ease;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
			color: black;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.primary-text {
	color: transparent;
	background: @primaryg;
	background-clip: text;
	display: inline-block;
}

.primarys-text {
	color: @primary;
}

abbr {
	cursor: help;
}

.see-full-in-pc {
	color: @textmidgray;
	display: flex;
	margin: 16px auto;
	justify-content: center;
	align-items: center;
	.mdi {
		margin-right: 0.5em;
	}
}

.container > .content {
	padding: 32px 0;
}

.container.content,
.container > .content {
	.primary-text {
		font-size: 49.5px;
		margin: 8px 0;

		@media screen and (max-width: 1000px) {
			font-size: 40.6px;
		}
	}

	p {
		font-size: 22px;
		margin-top: 8px;
		margin-bottom: 8px;

		@media screen and (max-width: 1000px) {
			font-size: 18px;
		}
	}
}

[lazy] {
	transition: background-image 0.3s ease, box-shadow 0.2s ease !important;
}

.link-card {
	.mdi {
		position: absolute;
		right: 24px;
		top: 16px;
		opacity: 0.3;
		transition: all 0.2s ease;
	}

	&.github {
		h2 {
			color: @textlightgray;
		}
	}

	&.qq {
		background: linear-gradient(-96deg, #1680c7, #12b7f5);
		color: white;
		h2 {
			color: @textlightwhite;
		}
	}

	&.wechant {
		h2 {
			color: @textlightgray;
		}
	}
	@media (min-width: 1000px) {
		&:hover {
			.mdi {
				opacity: 1;
			}
			.mdi.mdi-arrow-right {
				transform: translateX(10px);
			}
			opacity: 0.5;
		}
	}
	position: relative;
	border-radius: 5px;
	box-shadow: @shadowlight;
	padding: 16px 24px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	cursor: pointer;
	transition: opacity 0.2s ease;
	img {
		width: 100px;
		height: 100px;
		transform: scale(1.1);
	}
	.text {
		padding-left: 16px;
		h2 {
			font-weight: normal;
		}

		h1,
		h2 {
			margin: 8px 0;
		}

		h2 {
			font-size: 18px;
		}

		@media (max-width: 800px) {
			h1 {
				font-size: 22px;
			}

			h2 {
				font-size: 14px;
			}
		}
	}
	margin: 16px;
}

@textgray: #272727;
@textmidgray: rgba(0, 0, 0, 0.5);
@textlightgray: rgba(0, 0, 0, 0.3);
@textmidwhite: rgba(255, 255, 255, 0.6);
@textlightwhite: rgba(255, 255, 255, 0.7);
@primary: #fcd307;
@primarydark: #e7af14;
@primaryg: linear-gradient(135deg, rgba(255, 230, 0, 1) 0%, rgb(250, 173, 6) 100%);
@shadowlight: 0 3px 5px rgba(0, 0, 0, 0.2);
@shadowlightx: 0 3px 5px rgba(0, 0, 0, 0.1);
@shadowdark: 0 3px 5px rgba(0, 0, 0, 0.6);
